@layer constantcss {
    :root {
        --text-xs: clamp(0.56rem, 0.4974rem + 0.2783vw, 0.72rem);
        --text-sm: clamp(0.7rem, 0.6217rem + 0.3478vw, 0.9rem);
        --text-base: clamp(0.875rem, 0.7772rem + 0.4348vw, 1.125rem);
        --text-lg: clamp(1.0938rem, 0.9715rem + 0.5435vw, 1.4063rem);
        --text-xl: clamp(1.3672rem, 1.2143rem + 0.6793vw, 1.7578rem);
        --text-2xl: clamp(1.709rem, 1.5179rem + 0.8492vw, 2.1973rem);
        --text-3xl: clamp(2.1362rem, 1.8974rem + 1.0615vw, 2.7466rem);
        --text-4xl: clamp(2.6703rem, 2.3717rem + 1.3269vw, 3.4332rem);
    }

    .text-xs {
        font-size: var(--text-xs);
    }

    .text-sm {
        font-size: var(--text-sm);
    }

    .text-base {
        font-size: var(--text-base);
    }

    .text-lg {
        font-size: var(--text-lg);
    }

    .text-xl {
        font-size: var(--text-xl);
    }

    .text-2xl {
        font-size: var(--text-2xl);
    }

    .text-3xl {
        font-size: var(--text-3xl);
    }

    .text-4xl {
        font-size: var(--text-4xl);
    }

    .text-5xl {
        font-size: var(--text-5xl);
    }

    .btn-primary {
        background-color: var(--ccss-color-primary);
        color: white;
        transition: background-color 100ms ease;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: var(--ccss-color-primary-hover);
    }

    .bg-primary {
        background-color: var(--ccss-color-primary);
    }

    .bg-primary-light {
        background-color: var(--ccss-color-primary-light);
    }

    .bg-primary-ultralight {
        background-color: var(--ccss-color-primary-ultralight);
    }

    .bg-primary-dark {
        background-color: var(--ccss-color-primary-dark);
    }

    .bg-primary-ultradark {
        background-color: var(--ccss-color-primary-ultradark);
    }

    .bg-primary-hover {
        background-color: var(--ccss-color-primary-hover);
    }
}
