@layer constantcss {
	:root {
		--ccss-color-primary: #0084ff;
		--ccss-color-primary-light: #339dff;
		--ccss-color-primary-ultralight: #66b5ff;
		--ccss-color-primary-dark: #006acc;
		--ccss-color-primary-ultradark: #004f99;
		--ccss-color-primary-hover: #339dff;
	}
}